.btn {
  font-family: $font-stack;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-align: center;
  min-height: 45px;
  max-height: 45px;
  padding: 12px 25px;
  border-radius: 30px;

  &.btn-primary {
    background: $blue;
  }
}
