.graphql-callout {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 550px;
  padding: 0;
  position: relative;
  overflow: hidden;
  background: #fff;

  @include grid-media($tablet-grid) {
    padding: 40px 0;
  }

  @include grid-media($mobile-grid) {
    min-height: 0;
    padding: 80px 0;
  }

  aside {
    float:left;
    @include grid-column(9);
    @include grid-shift(1);

    @include grid-media($tablet-grid) {
      @include grid-column(9);
      @include grid-shift(3);
    }

    @include grid-media($mobile-grid) {
      width:100%;
      margin:0;
      padding:0;
      left:0;
      float:none;
    }

    h2, p {
      font-family: $playfair;
      @include grid-column(9);
      @include grid-shift(3);

      @include grid-media($tablet-grid) {
        @include grid-column(9);
        @include grid-shift(0);
      }
    }

    h2 {
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 35px;
    }

    p {
      font-size: 24px;
      font-weight: 100;
      line-height: 38px;
      max-width: 400px;
      padding: 0 0 30px;
      clear: both;
    }
  }
  .diagram {
    background-color:#fff;
    padding:50px 0 50px 0;
    border-radius: 25% 0 25% 0;
    float:left;
    margin-top:100px;
    margin-left: 10%;

    @include grid-media($tablet-grid) {
      margin:125px 0 0 25px;
      padding:15px 0 20px 0;
      border-radius: 25% 0 25% 0;
    }

    @include grid-media($mobile-grid) {
      display: none;
    }

    img {
      display: block;
      margin:0 auto;
    }
  }
}
