.hero {
  height: 700px;
  position: relative;
  overflow: hidden;
  background: url("assets/images/hero-bg.jpg") top center no-repeat;
  background-size: 1440px;

  &:after {
    content: "";
    transform-origin: top left;
    transform: rotate(-6.5deg);
    position: absolute;
    left: 0;
    margin: 0 -40px;
    width: 200%;
    height: 250px;
    bottom: -250px;
    background: #fff;

    @include grid-media($mobile-grid) {
      display: none;
    }
  }

  @include grid-media($mobile-grid) {
    height: auto;
    padding-bottom: 100px;
  }

  article {
    padding-top: 90px;

    @include grid-media($mobile-grid) {
      padding-top: 40px;
    }

    h1 {
      font-size: 46px;
      line-height: 62px;
      color: #fff;
      max-width: 550px;
      margin-bottom: 50px;

      @include grid-media($mobile-grid) {
        font-size: 36px;
        line-height: 50px;
      }
    }

    h2 {
      font-family: $font-stack;
      font-size: 20px;
      font-weight: 300;
      line-height: 27px;
      max-width: 450px;
      margin-bottom: 40px;
      color: #fff;

      @include grid-media($mobile-grid) {
        font-size: 18px;
      }
    }
  }
}
