.primary-header {
  padding: 30px 0;
  border-bottom: solid 1px rgba(255,255,255,0.10);

  &.internal {
    background: transparent url('assets/images/hero-bg.jpg') top center no-repeat;
    background-size: 100%;
  }

  img {
    float: left;
  }

  nav {
    float: right;

    ul {
      text-align: right;
      list-style: none;

      li {
        display: inline-block;

        &:not(:last-child) {
          padding-right: 15px;
        }

        a {
          font-size: 16px;
          font-weight: 500;
          color: #fff;
        }
      }
    }
  }
}
