.what-we-do {
  padding: 100px 0;

  aside {
    @include grid-column(10);
    @include grid-shift(1);
  }

  h2 {
    @include grid-column(12);
    font-weight: 700;
    font-size: 42px;
    margin-left: 0;
    margin-bottom: 80px;

    @include grid-media($mobile-grid) {
      font-size: 36px;
    }
  }

  ul {
    @include grid-container();
    @include grid-collapse();
    list-style: none;

    li {
      @include grid-column(4);
      margin-bottom: 45px;
      padding-right: 45px;

      @include grid-media($tablet-grid) {
        @include grid-column(6);
        padding-right: 20px;

        &:nth-child(3n) {
          clear: left;
        }

        &:last-child {
          clear: none;
        }
      }

      @include grid-media($mobile-grid) {
        @include grid-column(12);
        padding-right: 0;
        clear: both;
      }

      &:nth-child(4n) {
        clear: left;

        @include grid-media($tablet-grid) {
          clear: none;
        }
      }
    }
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $light-grey;
    padding: 0;
  }
}
