// Set the default grid settings (anything above tablet)
$neat-grid: (
  columns: 12,
  gutter: 10px,
  direction: ltr,
  color: rgba(#00d4ff, 0.25),
  media: "(min-width: 1300px)",
);

// Define a grid for laptop'ish sizes (1300px width and down)
$laptop-grid: (
  columns: 12,
  gutter: 10px,
  media: "(max-width: 1300px)",
);

// Define a grid for tablets (1020px wide and down)
$tablet-grid: (
  columns: 12,
  gutter: 10px,
  media: "(max-width: 1020px)",
  color: rgba(#00d4ff, 0.25),
);

// Define a grid for mobiles (640px wide and down)
$mobile-grid: (
  columns: 12,
  gutter: 12px,
  media: "(max-width: 640px)",
  color: rgba(#00d4ff, 0.25),
);
