@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif !important;
	font-size: 18px;
}

html, body {
	color: white;
	margin: 0;
	padding: 0;
	background: rgba(74,70,140,1);
  background: -moz-linear-gradient(45deg, rgba(74,70,140,1) 0%, rgba(29,27,57,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(74,70,140,1)), color-stop(100%, rgba(29,27,57,1)));
  background: -webkit-linear-gradient(45deg, rgba(74,70,140,1) 0%, rgba(29,27,57,1) 100%);
  background: -o-linear-gradient(45deg, rgba(74,70,140,1) 0%, rgba(29,27,57,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(74,70,140,1) 0%, rgba(29,27,57,1) 100%);
  background: linear-gradient(45deg, rgba(74,70,140,1) 0%, rgba(29,27,57,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a468c', endColorstr='#1d1b39', GradientType=1 );
	background-repeat: repeat;
}

body {
	width: 100%;
}

header {
	margin-left: 10%;
	height: 4rem;
	margin-right: 10%;
}

header .logo {
	height: 100%;
}

header img, header nav  {
	display: inline;
}

nav {
	vertical-align: middle;
}

nav ul {
	padding-left: 0;
	display: inline-block;
}

nav ul li {
	display: inline-block;
	line-height: 4rem;
	vertical-align: middle;
	margin-left: 20px;
	font-size: 1rem;
}

nav a {
	color: white;
	text-decoration: none;
}

nav img {
	/* This can be removed when the padding built in to the SVG is removed */
	margin-left: -12px;
}

section {
	padding: 0;
	height: 90vh;
	width: 100%;
	display: table;
}

section h1 {
	padding-top: 2rem;
	font-size: 2rem;
	text-align: center;
}

section p {
	padding: 2rem 10%
}

section#call-to-action {
	text-align: center;
}

section#call-to-action h1 {
	font-size: 3rem;
	font-style: italic;
}

section#founders ul{
	list-style: none;
	text-align: left;
	margin-right: 10%;

}

.founders p {
	display: inline;
	float: left;
	padding: 0;
}

.founders img {
	display: inline-block;
	float: left;
	padding-right: 1rem;
	width: 12rem;
}

section:nth-child(odd) {
	background: #1D1B39;
}

figure img {
filter: gray;
-webkit-filter: grayscale(1);
filter: grayscale(1);
}

figcaption {
	font-size: 1.5rem;
	padding-top: 0;
}

.centre {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
