@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif !important;
	font-size: 18px;
}

html, body {
	background: #1D1B39;
	color: white;
	margin: 0;
	padding: 0;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

header {
	height: 4rem;
}

header .logo {
	height: 100%;
}

/*
header nav, header h1 {
	margin-top: 0;
	margin-bottom: 0;
}
*/

header h1, header nav  {
	display: inline-block;
}

header h1 img {
	display: inline-block;
}

nav {
	vertical-align: middle;
}

nav ul {
	display: inline-block;
}

nav ul li {
	display: inline-block;
}
