// Most things depend on bourbon and neat, so grab them here
@import "bourbon";
@import "neat";

// Observe ITCSS
// https://speakerdeck.com/dafed/managing-css-projects-with-itcss
// ==========================

// Tools

// Settings
@import "./stylesheets/settings/fonts";
@import "./stylesheets/settings/colours";
@import "./stylesheets/settings/grid";

// Generic
@import "./stylesheets/generic/resets";
@import "./stylesheets/generic/wrap";

// Elements
@import "./stylesheets/elements/buttons";
@import "./stylesheets/elements/inputs";
@import "./stylesheets/elements/types";
@import "./stylesheets/elements/links";
@import "./stylesheets/elements/links";

// Components
@import "./stylesheets/components/line-header";
@import "./stylesheets/components/primary-header";
@import "./stylesheets/components/hero";
@import "./stylesheets/components/what-we-do";
@import "./stylesheets/components/how-we-do-it";
@import "./stylesheets/components/elixir-callout";
@import "./stylesheets/components/graphql-callout";
@import "./stylesheets/components/react-callout";
@import "./stylesheets/components/contact-details";
@import "./stylesheets/components/footer";
